body, html {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow:hidden;
	
}

textarea:focus, input:focus, button:focus, select:focus{
    outline: none;
}

body {
	position: relative;
	margin:0;
	padding: 0;
	
}

*{
	font-family: 'Roboto';
	font-size: 14px;
}

#app{
	width: 100%;
	height: 100%;
	background: #5c6a70;
	overflow: hidden;

}


*::-webkit-scrollbar {
  width: 8px; 
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}
*::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

*::-webkit-scrollbar-thumb:vertical {
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 100px;
}
*::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.61); 
  -webkit-border-radius: 100px;
}


ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.hover-opacity:hover{
  opacity: 1!important;
  font-size: 1.3em;
}






